/*Distance*/

$page-width:1200px;

/*Colors*/

$color-yellow: #ffd200;

$color-black: #212121;

$color-grey: #333333;

$color-red: #e11a27;

$color-pink: #f3f0e7;

$color-white: #fff;

$effect-glass: rgba(255, 210, 0, 0);

